/* Default elements */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat";
  font-weight: 700;
}

/* p{
  color: #8f8f8f;
} */

body{
  font-family: "Montserrat";
  text-align: center;
}



/* Sections */
.color-section{
  background-color: #98C1D9;
  color: white;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.white-section{
  background-color: white;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.special-section{
  background-color: #E0FBFC;
  color: black;
  overflow: hidden;
  height: 100%;
  width: 100%;
}



/* Header */
.header-title{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.header-image{
  width: 70%;
  height: auto;
  filter: drop-shadow(8px 8px 10px rgb(255, 255, 255))
}


/* Navitation Bar */
.navbar-title{
  padding: 2%;
  font-size: large;
  font-weight: 600;
}

/* Quienes somos */
.who-title{
 
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}

.wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video{
  padding: 5%;
}

/* Proceso */
#proceso{
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.feature-box{
  padding: 5%;
}


.proceso-subtitle{
  padding: 20px 20px;
  font-weight: 400;
}

.cardchar{
  display: inline-block;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
}

.cardchar:hover{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
}


.cardchar:hover .icon-1{
  color: red;
  
}

.cardchar:hover .icon-2{
  color: green;
}

.cardchar:hover .icon-3{
  color: gray;
}

.cardchar:hover .icon-4{
  color: black;
}

.boton-proceso{
  padding-top: 5%;
  padding-bottom: 1%;
}

.card-title{
  color:black;
}

.card-text{
  color: #8f8f8f;
}

.proceso-footer{
  color: #8f8f8f;
}

/* Pricing Section */
#pricing{
  padding: 100px;
  color: black;
}

.pricing-column{
  padding: 1% 1%;
}

.w-100{
  background-color:#3D7EA4;
  border-color: #3D7EA4;
  color: black;
  font-size: small;
  font-weight: 900;
}

.w-100:hover{
  background-color:#E0FBFC;
  border-color:#E0FBFC;
  color: black;
}

.price-h2{
  color: black;
}

.courses-image{
  width: auto;
  height: auto;
}

/* Testimonal Section */
.carousel-control-next{
  filter: invert(100%)
}

.carousel-control-prev{
  filter: invert(100%)
}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-text{
  font-size: 1rem;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}



/* Press Section */
#press{
  padding-bottom: 3%;
  padding-top: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 15px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.press-logo:hover{
  opacity: 0.5;
  transition: opacity .55s ease-in-out;
}



/* Socios */
#Socios{
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.socios-box{
  padding: 5%;
}

.socios-image{
  width: 100%;
  border-radius: 100%;
}

.equipo-image{
  width: 100%;
  border-radius: 100%;
}






/* Call to action section */
#cta{
  padding: 4% 3% 1% 3%;
}


/* Footer Section */
#footer{
  padding:3%;
}

.icon-footer{
  padding: 1rem;
}



