<%- include('./partials/nav.ejs') %>



<section class="white-section">
    
    <div class="row">

      

    <div class="col-lg-6 col-md-12 text-center">
        <div class="who-title">
            <h1>Desarrollo de la Inteligencia Emocional</h1>
        </div>
        <h7 style="padding:5%;">Generando ambientes favorables de trabajo.</h7>
        <h6 align="left" style="padding: 5% 0% 1% 5%;">¿A quién va dirigido?</h6>
        <p align="left" style="padding: 1% 0% 1% 5%;" >Colaboradores de todos los niveles de la organización, comprometidos con la mejora continua y el establecimiento de climas laborales agradables y armónicos.</p>
        <h6 align="left" style="padding: 5% 0% 1% 5%;">Contenido</h6>
        <ol align="left">
            <li>Fundamentos de la Inteligencia Emocional.</li>
            <li>Autoconciencia emocional. </li>
            <li>Empatía y Compasión</li>
            <li>El poder de las relaciones humanas.</li>
            <li>Alquimia emocional y florecimiento.</li>
        </ol>
        
        <h6 align="left" style="padding: 5% 0% 1% 5%;">Diferenciadores</h6>
        <ul align="left">
            <li>Utilización del diálogo compasivo como herramienta metodológica.</li>
            <li>Prácticas efectivas de Meditación Mindfulness.</li>
            <li>Movimientos psicocorporales de plena conciencia.</li>
            <li>Desarrollo de habilidades de liderazgo emocional.</li>
        </ul>
    </div>

    <div class="col-lg-6 col-md-12 ">
      <div class="wrapper">
      <div class="w-iframe">
        <iframe class="video" height='465px' width='470px' src="https://www.youtube.com/embed/gNz-TZIuNwo" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <p style="padding: 2% 3% 2% 5%"><strong>Modalidad: </strong>Presencial o en Línea</p>
      </div>
      <div class="col-lg-6 col-md-12">
        <p><strong>Duración:</strong> Quince horas, Cinco sesiones de tres horas cada una.</p>
      </div>
    </div>
      <h6 align="left" style="padding: 5% 0% 1% 7%;">Competencias a Desarrollar</h6>
      <ul align="left" style="padding: 1% 3% 2% 7%">
        <li>Interpreta adecuadamente la historia y desarrollo de la Inteligencia emocional como paradigma del florecimiento humano.</li>
        <li>Explora su estructura psicoemocional para comprender su funcionamiento y vivir una vida plena en sus diferentes ámbitos.</li>
        <li>Desarrolla habilidades y competencias emocionales para consolidar equipos de alto rendimiento.  </li>
      </ul>
    </div>
      
      
    </div>
   
 
  </section>


<%- include('./partials/footer.ejs') %>