<%- include('./partials/nav.ejs') %>



<section class="white-section">
    
    <div class="row">

    <div class="col-lg-6 col-md-12 text-center">
        <div class="who-title">
            <h1>Mindfulness para el Liderazgo Consciente</h1>
        </div>
        <h7 style="padding:5%;">Fortaleciendo tus recursos interiores para liderar con excelencia.</h7>
        <h6 align="left" style="padding: 5% 0% 1% 5%;">¿A quién va dirigido?</h6>
        <p align="left" style="padding: 1% 0% 1% 5%;" >Líderes de mandos intermedios o altos en formación o en ejercicio de la función, que aspiren a desarrollar un estilo de liderazgo consciente, pleno que los conduzcan al florecimiento interior, la compasión y la gratitud.</p>
        <h6 align="left" style="padding: 5% 0% 1% 5%;">Contenido</h6>
        <ol align="left">
            <li>Fundamentos de Mindfulness para líderes.</li>
            <li>Liderazgo emocional consciente.</li>
            <li>Bases de neuroliderazgo.</li>
            <li>Actualización de las potencialidades del líder: inspiración, bondad y compasión.</li>
            <li>Prácticas de Meditación Mindfulness para líderes de excelencia.</li>
        </ol>
        
        <h6 align="left" style="padding: 5% 0% 1% 5%;">Diferenciadores</h6>
        <ul align="left">
            <li>Utilización del diálogo compasivo como herramienta metodológica.</li>
            <li>Prácticas efectivas de Meditación Mindfulness.</li>
            <li>Movimientos psicocorporales de plena conciencia.</li>
            <li>Desarrollo de habilidades de liderazgo emocional.</li>
        </ul>
    </div>
      
    <div class="col-lg-6 col-md-12 ">
      <div class="wrapper">
      <div class="w-iframe">
        <iframe class="video" height='465px' width='470px' src="https://www.youtube.com/embed/gNz-TZIuNwo" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <p style="padding: 2% 3% 2% 5%"><strong>Modalidad: </strong>Presencial o en Línea</p>
      </div>
      <div class="col-lg-6 col-md-12">
        <p><strong>Duración:</strong> Quince horas, Cinco sesiones de tres horas cada una.</p>
      </div>
    </div>
      <h6 align="left" style="padding: 5% 0% 1% 7%;">Competencias a Desarrollar</h6>
      <ul align="left" style="padding: 1% 3% 2% 7%">
        <li>Comprende los fundamentos del Mindfulness para líderes.</li>
        <li>Dirige con efectividad y consciencia desde su familia hasta una organización global.</li>
        <li>Establece una disciplina basada en la automotivación. </li>
        <li>Desarrolla la capacidad de irradiar entusiasmo, positividad, organización, compasión, orden y gratitud a quienes les rodean. </li>
      </ul>
    </div>
      
    </div>
   
 
  </section>


<%- include('./partials/footer.ejs') %>