<div class="container-fluid">
    <footer id="footer">
        <i class="icon-footer fa-brands fa-twitter"></i>
        <i class="icon-footer fa-brands fa-facebook-f"></i>
        <i class="icon-footer fa-brands fa-instagram"></i>
        <i class="icon-footer fa-solid fa-envelope"></i>
        <p>© Copyright - Expertos en Mindfulness y Bienestar Pleno</p>
        <p>Hecho con 💜 en Monterrey </p>
    </footer>
</div>  
    
</body>
</html>