<%- include('./partials/nav.ejs') %>



<section class="white-section">
    
    <div class="row">


      
    <div class="col-lg-6 col-md-12 text-center">
        <div class="who-title">
            <h1>Bases de la Comunicación Efectiva</h1>
        </div>
        <h7 style="padding:5%;">Convirtiendo la comunicación en el motor de transformación de la empresa.</h7>
        <h6 align="left" style="padding: 5% 0% 1% 5%;">¿A quién va dirigido?</h6>
        <p align="left" style="padding: 1% 0% 1% 5%;" >Colaboradores de todos los niveles de la organización, dispuestos a desarrollar actitudes positivas y una comunicación proactiva, positiva y efectiva en su entorno laboral, familiar y personal.</p>
        <h6 align="left" style="padding: 5% 0% 1% 5%;">Contenido</h6>
        <ol align="left">
            <li>El proceso de comunicación.</li>
            <li>El arte de comunicar. El lenguaje.</li>
            <li>Tipos de comunicación.</li>
            <li>Asertividad en la comunicación. Comunicación en el trabajo.</li>
            <li>Ejercicios de comunicación efectiva.</li>
        </ol>
        
        <h6 align="left" style="padding: 5% 0% 1% 5%;">Diferenciadores</h6>
        <ul align="left">
            <li>Ejercicios psicocorporales de alto impacto.</li>
            <li>Estrategias probadas de comunicación efectiva.</li>
            <li>Toma de conciencia de los propios esquemas de comunicación para mejorarlos en el corto plazo.</li>
        </ul>
    </div>

    <div class="col-lg-6 col-md-12 ">
        <div class="wrapper">
        <div class="w-iframe">
          <iframe class="video" height='465px' width='470px' src="https://www.youtube.com/embed/gNz-TZIuNwo" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <p style="padding: 2% 3% 2% 5%"><strong>Modalidad: </strong>Presencial o en Línea</p>
        </div>
        <div class="col-lg-6 col-md-12">
          <p><strong>Duración:</strong> Quince horas, Cinco sesiones de tres horas cada una.</p>
        </div>
      </div>
        <h6 align="left" style="padding: 5% 0% 1% 7%;">Competencias a Desarrollar</h6>
        <ul align="left" style="padding: 1% 3% 2% 7%">
            <li>Comprende la importancia de una comunicación efectiva y afectiva para mejorar su desempeño laboral.</li>
            <li>Mejora su proceso de comunicación para producir sinergias en el trabajo.</li>
            <li>Genera condiciones propicias para elevar el rendimiento laboral.  </li>
            <li>Desarrolla el poder de la comunicación efectiva y afectiva.   </li>
        </ul>
      </div>
      
      
    </div>
   
 
  </section>


<%- include('./partials/footer.ejs') %>