<%- include('./partials/nav.ejs') %>



<section class="white-section">
    
    <div class="row">

      <div class="col-lg-6 col-md-12 text-center">
        <div class="who-title">
            <h1>Gestión del Estrés Laboral</h1>
        </div>
        <h7 style="padding:5%;">Impacto positivo en el clima laboral.</h7>
        <h6 align="left" style="padding: 5% 0% 1% 5%;">¿A quién va dirigido?</h6>
        <p align="left" style="padding: 1% 0% 1% 5%;" >Personas dispuestas a desafiar las creencias limitantes y a superar las causas del sufrimiento humano, que tengan intensión de conocer y practicar un estilo de meditación sencillo, flexible, efectivo, para lograr la reducción del estrés.</p>
        <h6 align="left" style="padding: 5% 0% 1% 5%;">Contenido</h6>
        <ol align="left">
            <li>Un Acercamiento al Mindfulness.</li>
            <li>El Estrés: Definiciones, Causas, Tipos.</li>
            <li>Mindfulness y Respiración Consciente.</li>
            <li>Conciencia Corporal. Unidad Cuerpo-Mente.</li>
            <li>Técnicas para la Regulación del Estrés.</li>
        </ol>
        
        <h6 align="left" style="padding: 5% 0% 1% 5%;">Diferenciadores</h6>
        <ul align="left">
            <li>Los participantes vivirán un proceso de autotransformación desde la primera sesión.</li>
            <li>Prácticas efectivas de Meditación Mindfulness.</li>
            <li>Movimientos psicocorporales de plena conciencia.</li>
            <li>Reducción del estrés corporal, mental y emocional.</li>
        </ul>
      </div>


      <div class="col-lg-6 col-md-12 ">
        <div class="wrapper">
        <div class="w-iframe">
          <iframe class="video" height='465px' width='470px' src="https://www.youtube.com/embed/gNz-TZIuNwo" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <p style="padding: 2% 3% 2% 5%"><strong>Modalidad: </strong>Presencial o en Línea</p>
        </div>
        <div class="col-lg-6 col-md-12">
          <p><strong>Duración:</strong> Quince horas, Cinco sesiones de tres horas cada una.</p>
        </div>
      </div>
        <h6 align="left" style="padding: 5% 0% 1% 7%;">Competencias a Desarrollar</h6>
        <ul align="left" style="padding: 1% 3% 2% 7%">
          <li>Desarrolla la consciencia corporal.</li>
          <li>Comprende los orígenes, procedimientos y técninas del Mindfulness.</li>
          <li>Incorpora los beneficios psicosomáticos de Mindfulness.</li>
          <li>Domina las prácticas para reducir el estrés y la ansiedad.</li>
          <li>Alcanza altos niveles de relajación y concentración.</li>
        </ul>
      </div>
    
      
      
    </div>
   
 
  </section>


<%- include('./partials/footer.ejs') %>