<%- include('./partials/nav.ejs') %>



<section class="white-section">
    
    <div class="row">


    <div class="col-lg-6 col-md-12 text-center">
        <div class="who-title">
            <h1>Autorregulación para la resiliencia</h1>
        </div>
        <h7 style="padding:5%;">Estrategias de autotransformación para responder a los desafíos con inteligencia emocional.</h7>
        <h6 align="left" style="padding: 5% 0% 1% 5%;">¿A quién va dirigido?</h6>
        <p align="left" style="padding: 1% 0% 1% 5%;" >Colaboradores de todos los niveles de la organización, comprometidos con su mejora personal y que aspiran a entregar lo mejor de sí mismos a su empresa.</p>
        <h6 align="left" style="padding: 5% 0% 1% 5%;">Contenido</h6>
        <ol align="left">
            <li>El universo de las emociones.</li>
            <li>Las emociones destructivas. </li>
            <li>El proceso de autorregulación emocional.</li>
            <li>Despierta tu respiración.</li>
            <li>Ejercicios para desarrollar la autorregulación emocional.</li>
        </ol>
        
        <h6 align="left" style="padding: 5% 0% 1% 5%;">Diferenciadores</h6>
        <ul align="left">
            <li>Ejercicios psicocorporales de alto impacto.</li>
            <li>Prácticas para lograr la autorregulación emocional.</li>
            <li>Estrategias efectivas para desarrollar competencias emocionales.</li>
            <li>Atención plena que permite producir un cambio de mentalidad y generar pensamientos y emociones positivas.</li>
        </ul>
    </div>
      
    <div class="col-lg-6 col-md-12 ">
      <div class="wrapper">
      <div class="w-iframe">
        <iframe class="video" height='465px' width='470px' src="https://www.youtube.com/embed/gNz-TZIuNwo" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <p style="padding: 2% 3% 2% 5%"><strong>Modalidad: </strong>Presencial o en Línea</p>
      </div>
      <div class="col-lg-6 col-md-12">
        <p><strong>Duración:</strong> Quince horas, Cinco sesiones de tres horas cada una.</p>
      </div>
    </div>
      <h6 align="left" style="padding: 5% 0% 1% 7%;">Competencias a Desarrollar</h6>
      <ul align="left" style="padding: 1% 3% 2% 7%">
        <li>Comprende los fundamentos del Mindfulness para líderes.</li>
        <li>Dirige con efectividad y consciencia desde su familia hasta una organización global.</li>
        <li>Establece una disciplina basada en la automotivación.  </li>
        <li>Desarrolla la capacidad de irradiar entusiasmo, positividad, organización, compasión, orden y gratitud a quienes les rodean.  </li>
      </ul>
    </div>
      
    </div>
   
 
  </section>


<%- include('./partials/footer.ejs') %>